<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.ucar.dao.UserDao">
	<select id="selectUser" parameterType="User" resultType="User">
		select emp_login_id as username,passwd as password,email,city_scope_short from t_employee  
	</select>
</mapper>  