<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

 	<bean id="scheduleTask" class="com.ucar.util.TaskSchedule"/>

    <!-- 同步程序开始 -->
    <bean id="scheduleJob"  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    	<!--有状态定时任务，防止此次任务没有执行完毕再次执行-->
    	<property name="concurrent" value="false" />
        <property name="targetObject">
            <ref bean="scheduleTask" />
        </property>
        <property name="targetMethod">
            <value>executeMethod</value>
        </property> 
    </bean>
    <!-- 同步程序开始 -->
    <!-- job的配置结束 -->
 	<!-- 调度的配置开始 -->
    <bean id="cronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
	    <property name="jobDetail" ref="scheduleJob" />
	    <property name="cronExpression" value="0 0 0 * * ?" />
	</bean>
 	 <!-- 调度的配置结束 -->

    <!-- 启动触发器的配置开始   -->
    <bean id="startttQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>              
                <ref bean="cronTrigger" />
            </list>
        </property>
    </bean>
   
    <!-- 启动触发器的配置结束 -->
</beans>
